<div class="main-banner">
	<h1 class="main-title">NPR Article Scraper</h1>
</div>
<nav>
	<a href="/scrape">Scrape New Articles</a>
</nav>
<div class="all-articles">
	{{#each articles}}
		<div class="article-element">
			<h4 class="article-title">{{title}}</h4>
			<p class="article-summary">{{summary}}</p>
			<a class="article-link" href="{{link}}" target="_blank">Link to article</a>
			<a class="comments-link" href="">All Comments</a>
			<div class="all-comments">
				{{#each comments}}
					<div class="comment">
						<h5 class="comment-title">{{comments.title}}</h5>
						<p class="comment-body">{{comments.body}}</p>
						<p class="comment-user">{{comments.user}}</p>
						<p class="comment-time">{{comments.time}}</p>
					</div>
				{{/each}}
			</div>
		</div>
	{{/each}}
</div>
